# Binaries
/immich-go-server
*.exe

# Vendor
/vendor/

# IDE
.idea/
.vscode/

# Env / secrets
.env

# Runtime data
/data/
*.db
*.db-journal
server.log
server.err
main.exe~
go.err
server.exe~
state.json
go.log
